<!DOCTYPE html>
<html lang="zh_CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <title>download</title>
  <link rel="stylesheet" type="text/css" href="/download/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/download/css/style.css">
  <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.1.3/weui.min.css">
  <script src="static/flexiable.js"></script>
</head>
<body>
  {{{body}}}
</body>
</html>
